/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : Administrator
*/
html, body {
    margin:0;
    padding:0;
    height:100%;
}

h1 {
    background-color: darkorchid;
    padding: 10px;
}

nav {
    padding: 10px;
    border: 2px solid navy;
    float: right;
    text-align: left;
    list-style-type: none;
}

footer {
    width:100%;
    height:80px;
    position:absolute;
    bottom:0;
    left:0;
    background:red;
}


#wrapper {
    min-height:100%;
    position:relative;
}